flows.json
[{"id":"b9750128.e1618","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4caa8268.26f83c","type":"ui_form","z":"b9750128.e1618","name":"","label":"","group":"1d84a555.18b5fb","order":1,"width":0,"height":0,"options":[{"label":"dateCrawled","value":"dc","type":"date","required":false,"rows":null},{"label":"name","value":"na","type":"text","required":false,"rows":null},{"label":"seller","value":"se","type":"text","required":false,"rows":null},{"label":"offerType","value":"ot","type":"text","required":false,"rows":null},{"label":"abtest","value":"ab","type":"text","required":false,"rows":null},{"label":"vehicleType","value":"vt","type":"text","required":false,"rows":null},{"label":"yearOfRegistration","value":"ye","type":"number","required":true,"rows":null},{"label":"gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerPS","value":"ps","type":"number","required":true,"rows":null},{"label":"model","value":"md","type":"text","required":true,"rows":null},{"label":"kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"monthOfRegistration","value":"mr","type":"text","required":false,"rows":null},{"label":"fuelType","value":"ft","type":"text","required":true,"rows":null},{"label":"brand","value":"bd","type":"text","required":false,"rows":null},{"label":"notRepairedDamage","value":"rd","type":"text","required":false,"rows":null},{"label":"dateCreated","value":"dce","type":"date","required":false,"rows":null},{"label":"nrOfPictures","value":"npc","type":"number","required":false,"rows":null},{"label":"postalCode","value":"pc","type":"number","required":false,"rows":null},{"label":"lastSeen","value":"ls","type":"date","required":false,"rows":null}],"formValue":{"dc":"","na":"","se":"","ot":"","ab":"","vt":"","ye":"","gb":"","ps":"","md":"","km":"","mr":"","ft":"","bd":"","rd":"","dce":"","npc":"","pc":"","ls":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["7c42ae1.81dd15"]]},{"id":"7c42ae1.81dd15","type":"function","z":"b9750128.e1618","name":"Pre Token","func":"global.set(\"dc\",msg.payload.dc)\nglobal.set(\"na\",msg.payload.na)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"ab\",msg.payload.ab)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"md\",msg.payload.md)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"bd\",msg.payload.bd)\nglobal.set(\"rd\",msg.payload.rd)\nglobal.set(\"dce\",msg.payload.dce)\nglobal.set(\"npc\",msg.payload.npc)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"ls\",msg.payload.ls)\nvar apikey=\"DtV2w_p5MNtfcUO40ub-S621uHM0YjlrPkU7k3B2P4qT\"\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":180,"wires":[["f1c6bd2b.e729b"]]},{"id":"f1c6bd2b.e729b","type":"http request","z":"b9750128.e1618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":240,"wires":[["795b65c4.a0cf1c"]]},{"id":"795b65c4.a0cf1c","type":"function","z":"b9750128.e1618","name":"Pre Prediction","func":"var dc=global.get('dc')\nvar na=global.get('na')\nvar se=global.get('se')\nvar ot=global.get('ot')\nvar ab=global.get('ab')\nvar vt=global.get('vt')\nvar ye=global.get('ye')\nvar gb=global.get('gb')\nvar ps=global.get('ps')\nvar md=global.get('md')\nvar km=global.get('km')\nvar mr=global.get('mr')\nvar ft=global.get('ft')\nvar bd=global.get('bd')\nvar nd=global.get('nd')\nvar dce=global.get('dce')\nvar npc=global.get('npc')\nvar pc=global.get('pc')\nvar ls=global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"ba33b218-b91c-4d6a-a425-7c72f12e50be\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\": \"Bearer\"+token,\"ML-Instance-ID\": instance_id} \nmsg.payload={\"input_data\": [{\"fields\": [\"dateCrawled\", \"name\", \"seller\", \"offerType\", \"abtest\", \"vehicleType\", \"yearOfRegistration\", \"gearbox\", \"powerPS\", \"model\", \"kilometer\", \"monthOfRegistration\", \"fuelType\", \"brand\", \"notRepairedDamage\", \"dateCreated\", \"nrOfPictures\", \"postalCode\", \"lastSeen\", \"Unnamed: 20\", \"Unnamed: 21\"],\"values\": [[dc,na,se,ot,ab,vt,ye,gb,ps,md,km,mr,ft,bd,nd,dce,npc,pc,ls]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["4ee66edd.29417"]]},{"id":"4ee66edd.29417","type":"http request","z":"b9750128.e1618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/e1887efa-4a63-4d46-a7be-1f2ce312215c/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":240,"wires":[["91696764.f1add8","b4176e7.e180c9"]]},{"id":"b4176e7.e180c9","type":"debug","z":"b9750128.e1618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":280,"wires":[]},{"id":"91696764.f1add8","type":"function","z":"b9750128.e1618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["44908edc.1ffee"]]},{"id":"44908edc.1ffee","type":"ui_text","z":"b9750128.e1618","group":"1d84a555.18b5fb","order":2,"width":0,"height":0,"name":"","label":"Price","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":120,"wires":[]},{"id":"1d84a555.18b5fb","type":"ui_group","z":"","name":"Resale value prediction","tab":"254012f8.5c13be","order":1,"disp":true,"width":"6","collapse":false},{"id":"254012f8.5c13be","type":"ui_tab","z":"","name":"Resale Value Prediction","icon":"dashboard","disabled":false,"hidden":false}]